<div class="row">
  <div class="col-md-4">


  </div>
  <div class="col-md-4">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" encType="multipart/form-data">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text"   [(ngModel)] = "name"  name ="name" class="form-control" id="name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"   [(ngModel)] = "email" name="email" class="form-control" id="email" placeholder="email">
          </div>
          <div class="form-group">
            <label for="upload">Upload Image</label>
            <input type="file"  (change)="uploadFile($event)"  name ="file" class="form-control" id="upload" placeholder="upload image">
          </div>
          <div class="form-group">
              <label>Choose Data</label>
            <input type="text"
             [(ngModel)]="date"
             name="date"
             placeholder="click in box to enter the date"
            class="form-control"
            [minDate]="minDate"
            [maxDate]="maxDate"
            #dp="bsDatepicker"
            bsDatepicker [(bsValue)]="bsValue">
          </div>
          <div class="form-group">
            <label for="sel1">user ID</label>
            <select [(ngModel)]="userId" class="form-control" name="userId" id="sel1" required>
              <option required *ngFor="let user of users" [value]="user._id">{{ user._id}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div *ngIf="userProfile">
          <h3>your information has been saved in database</h3>
        Name:{{userProfile.name}}<br>&nbsp;Email:{{userProfile.email}}<br>&nbsp;Date:{{userProfile.date}}<br>&nbsp;img:{{userProfile.img}}<br>&nbsp;userId:{{userProfile.userId}}<br>&nbsp;ObjectID:{{userProfile._id}}
      </div>
  </div>
</div>
